<html>
<style type="text/css">
	.myTb{border-top:1px solid #999;border-left:1px solid #999;border-spacing:0;table-layout: fixed;word-break: break-all; word-wrap: break-word;}
	.myTb td{border-bottom:1px solid #999;border-right:1px solid #999;padding:5px;}
	.myTb th{border-bottom:1px solid #999;border-right:1px solid #999;padding:5px;}
</style>
<head></head>
<body>
	<div class="row wrapper border-bottom white-bg page-heading" style="margin-left: 0px;">
        <div class="col-lg-10">
            <h3>尊敬的客户：</h3>
        </div>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading" style="margin-left: 0px;">
        <div class="col-lg-10">
            <h3>您好,</h3>
        </div>
    </div>
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-content" style="border:0px">
					<h4>以下项目已经全部完成检测，附件为分析报告，请您查收。</h4>
						<table class="myTb">
							<tr>
								<th  width="90px">检测姓名</th>
								<th  width="150px">检测项目</th>
							</tr>
							<tr>
								<td align="center" valign="middle">{{customer_name}}</td>
								<td align="center" valign="middle">{{detect_project}}</td>
							</tr>
						</table>
						<div class="row" style="margin-top: 20px;">本邮件为自动邮件，请勿直接回复。</div>
						<div class="row">如有其他问题或建议，请随时与我们或者销售负责人直接联系，我们将及时协调处理，谢谢您的合作。</div>
						<div class="row">祝您工作顺利！</div>
						<!-- <div class="row"><img src="http://bdms.smartquerier.com/bigdatams/images/smartQuerier.jpg"></div> -->
						<div class="row"><h4>慧算健康管理（上海）有限公司</div>
						<div class="row">上海市浦东新区科苑路1278号3楼，201203</div>
						<div class="row">Add: 3F, 1278 Keyuan Road, Shanghai 201203, P. R. China</div>
						<div class="row">Tel:  021-50271001 13916800864</div>
						<div class="row">Email: <a href="mailto:mlyuan@smartquerier.com">mlyuan@smartquerier.com</a></div>
						<div class="row">Web: <a href="www.smartquerier.com">www.smartquerier.com</a></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>